<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <p>Name 1:{{name1}}</p>
    <p v-if="name2.length>0">Name 2:{{name2}}</p>
    <p>Surname :{{surname}}</p>
    <p v-if="foreigner=false">PESEL: {{pesel}}</p>
    <p v-if="foreigner=true">Nationality: {{nationality}}</p>
    <p>Adress: {{address}}</p>    
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        name1: 'John',
        name2: '',
        surname: 'Brown',
        foreigner: true,
        nationality: 'USA',
        pesel: '',
        address: 'Holland Drive 4, Chcicago',
      }
    });
  </script>

</body>
</html>